<%- include('layout/header') -%>
<%- include('layout/nav', {user}) -%>
<div class="container">
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <h1 class="title">Add a New Review</h1>
      <form class="form reviewForm">
        <div class="field has-addons">
          <input type="text" id="title" class="input" placeholder="Movie Name">
          <button class="button" id="findMovie">Find Movie</button>
          <button class="button" id="clearMovie" style="display: none;">Clear Movie</button>
        </div>
        <div id="movieList" style="display:none;"></div>
        <div id="mainForm" style="display: none;">
          <div class="field">
            <label for="score">Your Rating (1 to 10, 10 being the best)</label>
            <input type="tel" id="score" class="input" placeholder="Rating out of 10">
          </div>
          <div class="field">
            <label for="review">Your Review (max 900 chars, remaining = <span id="charsRemain"></span>)</label>
            <textarea id="review" class="textarea" rows="6" maxlength="900" placeholder="Your Review"></textarea>
          </div>
          <button id="add-review" type="submit" class="button is-primary">Add Review</button>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="/js/addreview.js"></script>
<%- include('layout/footer') -%>