<%- include('layout/header') -%>
<%- include('layout/nav', {user}) -%>
<div class="container">
  <div class="columns">
    <div class="column is-6 is-offset-3">
      <br>
      <h2 class="title">Login Form</h2>
      <form class="login">
        <div class="field">
          <label for="emailInput">Email address</label>
          <input type="email" class="input" name="emailInput" id="email-input" placeholder="Email">
        </div>
        <div class="field">
          <label for="passwordInput">Password</label>
          <input type="password" class="input" name="passwordInput" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="button is-primary">Login</button>
      </form>
      <div style="display: none" id="alert" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span> <span class="msg"></span>
      </div>
      <br />
      <p>Or sign up <a href="/signup">here</a></p>
    </div>
  </div>
</div>
<script src="/js/login.js"></script>
<%- include('layout/footer') -%>