html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  padding: 1rem;
  background-color: #00d1b2;
  color: whitesmoke;
  margin-top: 2rem;
}

form.signup, form.login {
  margin-top: 50px;
}

footer a {
  color: whitesmoke;
  width: 100%;
}

.hero-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-box {
  min-height: 235px;
  box-shadow: grey 10px 10px 10px;
  border: 1px solid gray;
  margin: 2rem 1rem;
}

.media-header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.media-item {
  padding: 0.25rem 1rem;
}

.media-item:first-child {
  padding: 0;
}

@media screen and (max-width: 600px) {
  .media-header {
    flex-direction: column;
    align-items: start;
  }
  .media-item {
    padding-left: 0;
  }
}