<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="navbar-image" src="/img/logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/movie">
        MOVIES
      </a>

      <% if (user) { %>
      <a class="navbar-item" href="/user">
        My Reviews
      </a>

      <a class="navbar-item" href="/review/add">
        Add Review
      </a>
      <% } %>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">

          <% if (!user) { %>
          <a class="button is-primary" href="/signup">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light" href="/login">
            Log in
          </a>
          <% } else { %>
          <a class="button is-dark" href="/logout">
            Log Out
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="content">