<div class="hero">
  <div class="hero-body">
    <div class="has-text-centered">
      <h1 class="title">Welcome to Super Awesome Movie Reviews</h1>
      <h2 class="subtitle">Where super awesome users leave reviews.</h2>
    </div>
    <br>
    <form class="form searchForm">
      <div class="field has-addons search-field">
        <div class="control">
          <input type="search" class="input" id="movieSearch" name="movieSearch" placeholder="Search by Movie">
        </div>
        <button type="submit" class="button is-primary" id="submitSearch">Submit</button>
      </div>
    </form>
    <div style="display: none" id="searchAlert" class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span> <span class="msg"></span>
    </div>
  </div>
</div>